<main id="posts-home">

	<div class="link-style">Group Links</div>

	<div class="deewar-posts">
		<div class="new-post-form">
			<% if user_signed_in? %>
			<%= form_for @post, remote:true do |f| %>
				<%= f.label :content %>
				<%= f.text_area :content %>

				<%= f.submit %>
			<% end %>
			<% end %>
		</div>

		<div>
			<!-- another silly mistake! -->
			<ul id="posts-list" class="posts-list">
				<% @posts.reverse.each do |post| %>
					
				<%= render 'post', post: post %>
				<% end %>
			</ul>


		</div>
		

	</div>


	<div class="link-style">Friends</div>

</main>




